/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-image: url('assets/images/bg.jpg');
	background-repeat: repeat-x;
	font-size: 12px;
	font-family: Arial
}

a {
	text-decoration: none;
	-webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	    -ms-transition: all .2s ease-in-out;
	     -o-transition: all .2s ease-in-out;
	        transition: all .2s ease-in-out;
}

table img {
  	max-width: 200px;
}

table {
	width: 100%;
}

td {
  	text-align: center;
}

table.client th {
	background-color: #42658B;
	color: #fff;
	border: 1px solid #ccc;
}
table.client td, table.client th {
	text-align: left;
	border: 1px solid #ccc;
	padding: 10px;
}
table.client {
	width: 500px;
	margin: 0 auto;
	color: #333;
}

ul, li, div {
	position: relative;
}

input[type="text"],
input[type="email"],
input[type="address"] {
	width: 330px;
	height: 35px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-top: 5px;
	margin-right: 40px;
	margin-bottom: 30px;
	background-color: #fafafa;
	padding: 0 10px;
	color: #333;
}

input[type="text"].fail, 
input[type="email"].fail, 
input[type="address"].fail {
  border: 1px solid #FF9898;
}

textarea {
	width: 800px;
	height: 70px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-top: 5px;
	background-color: #fafafa;
	padding: 10px;
	color: #333;
}

label .required {
	color: red;
	margin-right: 5px;
}

label {
	color: #000;
}

.loading {
	float: right;
	margin-right: 15px;
	margin-top: 10px;
	display: none;
}

.submit-button input {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.submit-button {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 30px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-image: url('assets/images/message-icon.jpg');
	background-repeat: no-repeat;
	background-position: 5px center;
	font-size: 15px;
	float: right;
  	margin-right: 15px;
}

.submit-button:hover {
  	color: #ff6633;
}

#contact-form {
  	overflow: hidden;
}

#contact-form td {
	text-align: left;
}

#contact-form table {
	width: auto;
}

#contact-form p {
	margin-top: 0px;
}

#site-wrapper {
	width: 900px;
	margin: 0 auto;
}

#content-wrapper {
  display: block;
  overflow: hidden;
  background-color: #fff;
}

.content-inner {
  	padding: 30px;
  	font-size: 14px;
  	font-family: 'Roboto', sans-serif;
  	color: #999;
}

.content-inner strong {
	font-size: 18px;
	color: #333333;
	font-weight: 400;
}

.logo-wrapper {
	height: 75px;
}

.logo-wrapper .logo {
	line-height: 75px;
}

.logo-wrapper .search-form {
	display: inline-block;
	float: right;
	line-height: 75px;
}

.logo-wrapper .search-form input[type="submit"] {
	background-image: url('assets/images/button-bg.jpg');
	background-repeat: repeat-x;
	height: 22px;
	width: 68px;
	border: 0;
	border-radius: 3px;
	color: #fff;
}

.logo-wrapper .search-form input[type="search"] {
	font-size: 12px;
	width: 190px;
	border: 1px solid #d8d8d8;
	height: 20px;
	padding: 0 5px;
}

.tip {
	font-size: 18px;
	font-family: 'Cabin', sans-serif;
	color: #000;
	font-weight: 700;
}

.tip img {
	margin-right: 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}

nav a:after {
	content: "";
	background-color: #fff;
	width: 2px;
	height: 10px;
	position: absolute;
	right: 0;
	top: 15px;
}

nav ul li:last-child a:after {
	content: none;
}

nav a:hover, nav a:focus, nav a.active {
	color: #faa61a;
}

nav ul li {
  float: left;
  text-align: center;
  padding: 0 30px;
  line-height: 40px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav {
	background-color: #202020;
	width: 100%;
	display: block;
	overflow: hidden;
	height: 40px;
}

#banner-wrapper {
	height: 245px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.sub-page {
	height: 190px !important;
}

.sub-page .page-heading.right {
	margin-top: 40px;
}

.sub-page .page-heading.left {
	margin-top: 40px;
}


#banner-wrapper .page-heading {
	width: 350px;
	display: inline-block;
	color: #fff;
	text-align: justify;
}

.page-heading.right {
	float: right;
	margin-top: 70px;
	margin-right: 35px;
}

.page-heading.left {
	float: left;
	margin-top: 70px;
	margin-left: 35px;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

.top-bar h1, .top-bar ul {
	padding: 0;
	margin: 0;
}

.top-bar h1 {
	line-height: 52px;
	margin-left: 20px;
	font-size: 18px;
	color: #333;
	display: inline-block;
}

.top-bar ul li {
	float: left;
}
.top-bar ul {
	list-style-type: none;
	display: inline-block;
	float: right;
	margin-right: 10px;
}

.top-bar ul a:before {
	content: ">";
	position: absolute;
	left: -3px;
}

.top-bar ul li:first-child a:before {
	content: none;
}

.top-bar ul a:hover {
	text-decoration: underline;
}

.top-bar ul a {
	color: #999;
	font-style: italic;
	padding: 0 10px;
	line-height: 52px;
}

.top-bar {
	height: 52px;
	background-image: url('assets/images/breadcrum-bg.jpg');
	background-repeat: repeat-x;
}

.box {
	width: 289px;
	height: 130px;
	display: inline-block;
	background-color: #f6f6f6;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #eee;
	box-shadow: 0px 0px 10px #eeeeee;
	margin-right: 10px;
	margin-top: 10px;
}

.box-inner {
  	padding: 15px 15px;
}

.box.last {
	margin-right: 0;
}

.box .title {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-weight: 700;
	display: block;
	overflow: hidden;
  	margin-bottom: 5px;
}

.box .description {
	font-size: 11px;
}

.box .description ul {
	margin-left: 15px;
}

.box .title img {
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}

.box .title p {
	margin: 0;
	padding-top: 5px;
}

.box .description ul {
	padding: 0;
}

.col-wrap {
  	display: block;
  	overflow: hidden;
  	margin-top: 10px;
	margin-bottom: 10px;
}

.col-wrap ul {
  	padding-left: 15px;
  	padding-right: 50px;
}

.col-wrap img {
  	float: left;
  	margin-right: 10px;
}

.col-wrap .title p {
	margin-bottom: 0;
	margin-top: 0;
}

.col-wrap .title {
	display: block;
	overflow: hidden;
}

.col-3 {
	width: 33.33%;
	min-height: 440px;
	float: left;
	font-size: 14px;
}

.col-3 p {
	line-height: 22px;
}

.col-3 h2 {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.col-3 ul {
	padding-left: 10px;
}

.col-2 {
  	width: 50%;
  	float: left;
}

.col-inner {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

footer ul li:last-child a {
  padding-right: 0;
  border-right: 0;
}

footer ul li a {
  color: #000;
  padding: 0 7px;
  border-right: 1px solid #000;
}

footer ul li {
  float: left;
}

footer ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  list-style-type: none;
}

footer p {
  margin: 0;
  display: inline-block;

}

footer {
  border-top: 5px solid #333399;
  margin-top: 20px;
  font-size: 9px;
  height: 50px;
  text-transform: uppercase;
}

footer .footer-inner {
	padding-top: 10px;
	padding-left: 5px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
